<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Product Management</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        body {
            font-family: Georgia, 'Times New Roman', Times, serif;
            background-color: #f4f4f9;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
       .container {
            background-color: white;
            padding: 40px;
            text-align: center;
            border-radius: 8px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
            width: 80%;
            max-width: 500px;
        }
        h1 {
            font-size: 32px;
            color: #333;
            margin-bottom: 20px;
        }
        p {
            font-size: 18px;
            color: #555;
            margin-bottom: 30px;
        }
        .buttons {
            margin-bottom: 20px;
        }
        .buttons a {
            text-decoration: none;
        }
        button {
            background-color: #04488a;
            color: white;
            font-size: 16px;
            padding: 12px 25px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }
        button:hover {
            background-color: #033d68;
        }
        .buttons p {
            font-size: 14px;
            color: #777;
            margin-top: 10px;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1>Welcome to the Product Management System</h1>
        <p>Please choose to login:</p>

        <div class="buttons">
            <a href="/admin/login"><button>Admin Login</button></a>
            <p>Login as admin to register products</p>
        </div>

        <div class="buttons">
            <a href="/user/login"><button>User Login</button></a>
            <p>Login as user to search products by name and category</p>
        </div>
    </div>
</body>

</html>