<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font-family: Georgia, 'Times New Roman', Times, serif;
            background-color: #f4f4f9;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .container {
            background-color: white;
            padding: 30px;
            text-align: center;
            border-radius: 8px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
            width: 90%;
            max-width: 400px;
        }

        h1 {
            font-size: 32px;
            color: #333;
            margin-bottom: 20px;
        }


        form {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }


        label {
            font-size: 16px;
            color: #333;
            text-align: left;
        }

        input[type="text"],
        input[type="password"] {
            padding: 10px;
            font-size: 16px;
            border: 1px solid #ddd;
            border-radius: 5px;
            outline: none;
            width: 100%;
        }


        input[type="text"]:focus,
        input[type="password"]:focus {
            border-color: #04488a;
            box-shadow: 0 0 5px rgba(4, 72, 138, 0.5);
        }


        button {
            padding: 12px 25px;
            background-color: #04488a;
            color: white;
            font-size: 16px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        button:hover {
            background-color: #033d68;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1>User Login</h1>
        <form action="/user/login" method="POST">
            <div>
                <label for="username">Username</label>
                <input type="text" name="username" id="username" required>
            </div>
            <div>
                <label for="password">Password</label>
                <input type="password" name="password" id="password" required>
            </div>
            <button type="submit">Login</button>
        </form>
    </div>
</body>

</html>